{% extends "layouts/navbar.html" %}
{% block content %}
  <h1 class="bubble-title">Reset Password</h1>
    <div class="form-card">
        <form method="POST" action="">
            {{ form.hidden_tag()}}


                <div class="">
                    {{ form.password.label(class="") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-field") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-field") }}
                    {% endif %}
                </div>
                <br>
                <div class="">
                    {{ form.confirm_password.label(class="") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-field") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-field") }}
                    {% endif %}
                </div>
                <br>
            <div class="form-group">
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>
{% endblock content %}
